/* Colors */
$symbion-primary: $brand-primary;
$lightondark: rgba(255,255,255,0.9);
$darkonlight: rgba(0,0,0,0.8);
$magenta: #C23B79;
$muted-green: #355800;
$yellow-sun: #F3B63E;
$bright-orange: #F25C25;
$tomato-red: #DA2B17;

/* Backgrounds */
.bg-symbion {
  background-color: $symbion-primary !important; 
  color: $lightondark !important;
}
.bg-symbion a { 
  color: $lightondark; 
}
.bg-orange {
	background-color: $bright-orange !important;
	color: $lightondark !important;
}
.bg-red {
	background-color: $tomato-red !important;
	color: $lightondark !important;
}
.bg-magenta {
	background-color: $magenta !important;
	color: $lightondark !important;
}
.bg-green {
	background-color: $muted-green !important;
	color: $lightondark !important;
}
.bg-yellow {
	background-color: $yellow-sun !important;
	color: $lightondark !important;
}
.taxi-yellow {
	background-color: #edc60e !important;
	color: $darkonlight !important;
}
.taxi-green {
	background-color: #306261 !important;
	color: $lightondark !important;
}
.taxi-midnightblue {
	background-color: rgb(24, 27, 46) !important;
	color: $lightondark !important;
}
/* Typography */
$font-family-base: 'Roboto', sans-serif;

h1,h2,h3,h4,h5 {
	text-transform: uppercase;
	font-weight: 700;
}
h1 { font-size: 22px;}
h2 {font-size: 18px;}
h3 {font-size: 14px;}

.fancy-title {
	font-family: 'Oswald', sans-serif;
}
h1.title {
	color: inherit;
	line-height: 1;
	text-align: center;
	font-size: 15px;
	margin:0;
}
.subtitle {
	font-weight:700;
	font-size: 80%;
}
@media only screen and (min-width: 1400px) {
  html {
  	font-size: 20px;
  }
}
@media only screen and (min-width: 1800px) {
  html {
  	font-size: 22px;
  }
}
@media only screen and (min-width: 2200px) {
  html {
  	font-size: 24px;
  }
}